<ion-tabs class="tabs-icon-top tabs-striped custom-nav-bottom" ng-controller="bottomTabsCtrl" >
  <ion-tab title="default" icon-on="ion-ios-world" hidden="true" icon-off="ion-ios-world-outline" class="text-white border"></ion-tab>
  <ion-tab title="Wall" icon-on="ion-ios-world" icon-off="ion-ios-world-outline" class="text-white border" ng-click="GotoPage('wall',1);"></ion-tab>
  <ion-tab title="Bank Challenge" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" class="text-white border" ng-click="GotoPage('challenges',2);"></ion-tab>
  <ion-tab title="Challenge Friend" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" class="text-white border" ng-click="GotoPage('challenge-friend',3);"></ion-tab>
  <ion-tab title="My Challenge" icon-on="ion-ios-eye" icon-off="ion-ios-eye-outline" class="text-white border" ng-click="GotoPage('my-challenge',4);"></ion-tab>
  <ion-tab title="Profile" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" class="text-white border" ng-click="GotoPage('member-profile',5);"></ion-tab>
</ion-tabs>
