<ion-view view-title="Challenge Friend">
	<ion-content>
		<div class="list custom-challenge">			
		  <a href="" ng-click="GotoPage('friend-without-accepted');">
			<div class="item item-button-right">
				Without Accepting
				<button class="button button-dark">
				  {{ friendChallenges.not_accpeting }}
				</button>
			</div>
		  </a>
		  <a href="" ng-click="GotoPage('friend-in-progress');">
			<div class="item item-button-right">
				In Progress
				<button class="button button-energized">
				  {{ friendChallenges.in_progress }}
				</button>
			</div>
		  </a>
		  <a href="" ng-click="GotoPage('friend-in-failed');">
			<div class="item item-button-right">
				Failed
				<button class="button button-assertive">
				  {{ friendChallenges.failed }}
				</button>
			</div>
		  </a>
		  <a href="" ng-click="GotoPage('friend-achievements');">
			<div class="item item-button-right">
				Achievement
				<button class="button button-balanced">
				  {{ friendChallenges.achievement }}
				</button>
			</div>
		  </a>
		</div>
		<div class="row">
			<div class="col col-100" style="margin-bottom:30px;"></div>
		</div>
    </ion-content>
	<div ng-include src="'templates/bottom-tabs.html'"></div>
</ion-view>
