<ion-view view-title="Compensation">
	<ion-content>
		<div class="list list-custom list-no-image">
		  <a href="#/app/compensation~transaction" class="item item-icon-left item-icon-right">
			<i class="icon ion-ios-bell" style="display:none"></i>
				Transaction
			<i class="icon icon-list ion-chevron-right"></i>
		  </a>
		  <a href="#/app/compensation~application-for-compensation" class="item item-icon-left item-icon-right">
			<i class="icon ion-ios-bell" style="display:none"></i>
				Application For Compensation
			<i class="icon icon-list ion-chevron-right"></i>
		  </a>
		</div>
		<div class="row">
			<div class="col col-100" style="margin-bottom:30px;"></div>
		</div>
    </ion-content>
	<div ng-include src="'templates/bottom-tabs.html'"></div>
</ion-view>
