<ion-view view-title="Following">
	<ion-content>
		<div class="list list-custom list-followers">
			<div class="item item-avatar" href="" ng-repeat="following in followings" ng-if="followings">
			  <img ng-if="following.user_image_url" src="{{ following.user_image_url }}">
			  <h2 class="text-white">{{ following.first_name }} {{ following.last_name }}</h2>
			  <p><i class="ion-ios-location"></i> {{ following.city }}  {{ following.country }}</p>
			  <a href="" ng-click="unfollowUser(following.user_id);" class="button button-small ion-minus button-unfollow button-custom"></a>
			</div>
		</div>
		<div class="row">
			<div class="col col-100 text-center" style="margin-bottom:30px;">
				<p><i ng-if="!followings[0]" class="ion-alert-circled icon-popup"></i></p>
				<h4 ng-if="!followings[0]" class="text-primary">No Results Found</h4>
			</div>
		</div>
    </ion-content>
	<div ng-include src="'templates/bottom-tabs.html'"></div>
</ion-view>
