<ion-view view-title="In Progress / My Challenges">
    <ion-content>
        <div class="shadow-custom">
          <img src="https://www.dreamgraphs.com/admin/img/retos/gym4.png" style="width:100%" alt="challengeImg">
		  <div class="ion-dom">
			<p class="challenge_heading text-center">Work 4 gym</p>
		  </div>
		</div>
		<div class="list list-custom">
		  <a class="item">
			<span class="datatitle">Category</span> <span class="datavalue">Healthy Habits</span>
		  </a>
		  <a class="item">
			<span class="datatitle">Start Date </span> <span class="datavalue">22/11/2016</span>
		  </a>
		  <a class="item">
			<span class="datatitle">End Date</span> <span class="datavalue">28/11/2016</span>
		  </a>
		  <a class="item">
			<span class="datatitle">Start Time</span> <span class="datavalue">12:00:00</span>
		  </a>
		  <a class="item">
			<span class="datatitle">End Time</span> <span class="datavalue">12:00:00</span>
		  </a>
		  <a class="item">
			<span class="datatitle">Points</span> <span class="datavalue">20</span>
		  </a>
		  <a class="item">
			<span class="datatitle">See Action</span> <span class="datavalue">Recieved</span>
		  </a>
		  <a class="item">
			<span class="datatitle">Challenging</span> <span class="datavalue">Johhny</span>
		  </a>
		  <a class="item">
			<span class="datatitle">Description</span> <span class="datavalue">Work 4 gym sessions per week for 45 days.</span>
		  </a>
		</div>
		<div class="row">
			<div class="col col-50 col-offset-25 text-center" style="margin-bottom:30px;">
				<button class="button button-custom button-block">
					See
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col col-100" style="margin-bottom:30px;">	</div>
		</div>
    </ion-content>
	<div ng-include src="'templates/bottom-tabs.html'"></div>
</ion-view>