<ion-view view-title="Login" hide-nav-bar="true">
	<ion-content>
    	<div class="row">
          <div class="col col-100 text-center">
          	<img src="img/siteimgs/logo_dgphs.png" alt="logo" style="height:120px;width:120px;">
          </div>
       	</div>
        <div class="row">
          <div class="col col-100">
            <form name="memberloginForm" ng-submit="submitLoginForm(memberloginForm);" ng-controller="loginCtrl" novalidate>
             <div class="list list-custom">
			    <!-- Input -->
				  <label class="item item-custom item-input item-floating-label">
					<span class="input-label">Email</span>
					<input type="email" placeholder="Email" ng-model="email" name="email" ng-maxlength="30" required>
				  </label>
				  <p class="error-p" ng-show="memberloginForm.email.$error.required && (!memberloginForm.email.$pristine || memberloginForm.$submitted)">This Field Is Required</p>
				  <p class="error-p" ng-show="memberloginForm.email.$error.maxlength && (!memberloginForm.email.$pristine || memberloginForm.$submitted)">Cannot Longer Than 30 Characters</p>
				  <p class="error-p" ng-show="memberloginForm.email.$invalid && (!memberloginForm.email.$pristine || memberloginForm.$submitted) && !memberloginForm.email.$error.required">Email Is Not Valid</p>
				<!--/ Input -->
			    <!-- Input -->
				  <label class="item item-custom item-input item-floating-label">
					<span class="input-label">Password</span>
					<input type="password" placeholder="Password" ng-model="password" name="password" required>
				  </label>
				  <p class="error-p" ng-show="memberloginForm.password.$error.required && (!memberloginForm.password.$pristine || memberloginForm.$submitted)">This Field Is Required</p>
				<!--/ Input -->
			</div>
            <button class="button button-custom button-block">
              	SIGN IN
            </button>
			<p class="text-center text-white"><b>OR</b></p>
            </form>
          </div>
       	</div>
		<div class="row text-center">
			<div class="col col-20"></div>
			<div class="col col-20"><a href=""><img src="img/siteimgs/facebook.png" alt="logo" style="height:35px;width:35px;"></a></div>
			<div class="col col-20"><a href=""><img src="img/siteimgs/google-plus.png" alt="logo" style="height:35px;width:35px;"></a></div>
			<div class="col col-20"><a href=""><img src="img/siteimgs/twitter.png" alt="logo" style="height:35px;width:35px;"></a></div>
			<div class="col col-20"></div>
        </div>
		<div class="row">
			<div class="col col-100 text-center">
				<p class="text-center"><a class="text-white" href="#/app/register">New Here ? Sign Up</a></p>
				<p class="text-center"><a class="text-white" href="#/app/forgot-password">Forgot Password ?</a></p>
			</div>
		</div>
    </ion-content>
</ion-view>
