<ion-view view-title="Settings / Notification">
	<ion-content>
		<ul class="list custom-toggle">
		  <li class="item item-toggle">
			 Normal Notification
			 <label class="toggle toggle-balanced">
			   <input type="checkbox">
			   <div class="track">
				 <div class="handle"></div>
			   </div>
			 </label>
		  </li>
		</ul>
		<div class="row">
			<div class="col col-100" style="margin-bottom:30px;"></div>
		</div>
    </ion-content>
	<div ng-include src="'templates/bottom-tabs.html'"></div>
</ion-view>
