<ion-view view-title="Settings">
	<ion-content>
		<div class="list list-custom list-no-image">
		  <a href="#/app/settings~notification" class="item item-icon-left item-icon-right">
			<i class="icon ion-ios-bell"></i>
				Notification
			<i class="icon icon-list ion-chevron-right"></i>
		  </a>
		  <a href="#/app/settings-alertwithnotification" class="item item-icon-left item-icon-right">
			<i class="icon ion-ios-bell"></i>
				Alert With Vibrations Phone
			<i class="icon icon-list ion-chevron-right"></i>
		  </a>
		  <a href="#/app/settings~language" class="item item-icon-left item-icon-right">
			<i class="icon ion-ios-paper"></i>
				Language
			<i class="icon icon-list ion-chevron-right"></i>
		  </a>
		</div>
		<div class="row">
			<div class="col col-100" style="margin-bottom:30px;"></div>
		</div>
    </ion-content>
	<div ng-include src="'templates/bottom-tabs.html'"></div>
</ion-view>
